* {
    margin: 0;
}


/* 19 banner,,background image */
.banner {
    background-image: url('new-year-new-me-main/new-year-new-me-main/images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;

}

/* 22 banner-2 all letters with button  */
.banner-2 {
    margin-right: 80px;
    margin-top: 0px;
    padding-top: 120px;

}


/* 21 h1 head line */
.h1-banner {
    text-align: right;
    width: 250px;
    font-family: 'Open Sans', sans-serif;


}

/* 26 description */

.p-description {
    text-align: right;
    width: 394px;
    margin-top: 20px;
}

.div-des {
    display: flex;
    justify-content: right;
    margin-bottom: px;

}

/* 32 contact button */
.btn {
    color: azure;
    background-color: darkorange;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 35px;
    margin-top: 15px;


}

.btn2 {
    text-align: right;
}

/* header closed 39 */




/* flex */

.first-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/* div1 */
 
/* section 45 start */

/* div1 */



.sec-tittle {
    font-family: 'Open Sans', sans-serif;
    width: 320px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 35px;
    padding-left: 34px;

}

.sec-descripton {
    width: 340px;
    margin-bottom: 18px;
    line-height: 26px;
    padding-left: 35px;
}

/* list ul list */
.list-style li {
    margin-bottom: 8px;
    list-style: images('.');

}

.list-style {
    /* list-style: url('new-year-new-me-main/new-year-new-me-main/images/checkmark-xxl.png'); */
    
   

   
}
.checkmark{
    
    /* list-style:url('check.png');
    width: 3tini; */
   
    
  }



  li{
    list-style: none;
    background-size: 26px;
    height: 28px;
    /* margin-right: 100px; */
    /* width: 10px; */
    background-image:url('checkmark.png');
    background-repeat: no-repeat;
    padding-left: 45px;
    
  }


  /* 75 section 2 */
  div ,h3{
    font-family: 'Open Sans', sans-serif;
    
  }


  .myplan{
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
  }

  .work{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    
    
  }

  .bot,h{
    text-align: center;
    
 }



 







