* {
    margin: 0;
}


/* 19 banner,,background image */
.banner {
    background-image: url('new-year-new-me-main/new-year-new-me-main/images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;

}

/* 22 banner-2 all letters with button  */
.banner-2 {
    margin-right: 80px;
    margin-top: 0px;
    padding-top: 120px;

}


/* 21 h1 head line */
.h1-banner {
    text-align: right;
    width: 250px;
    font-family: 'Open Sans', sans-serif;


}

/* 26 description */

.p-description {
    text-align: right;
    width: 394px;
    margin-top: auto;
}

.div-des {
    display: flex;
    justify-content: right;
    margin-bottom: px;

}

/* 32 contact button */
.btn {
    color: azure;
    background-color: darkorange;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 35px;
    margin-top: auto;


}

.btn2 {
    text-align: right;
}

/* header closed 39 */

/* section 45 start */


.sec-tittle {
    font-family: 'Open Sans', sans-serif;
    width: 320px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 35px;

}

.sec-descripton {
    width: 340px;
    margin-bottom: 16px;
    line-height: 26px;
}

/* list ul list */
.list-style li {
    margin-bottom: 8px;
    list-style: images('.');

}

.list-style {
    /* list-style: url('new-year-new-me-main/new-year-new-me-main/images/checkmark-xxl.png'); */
    font-size: 3em;
   

   
}
.checkmark{
    /* list-style: url('new-year-new-me-main/new-year-new-me-main/images/checkmark-xxl.png'); */
    /* display: inline-block; */
   
    
  }


}